# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build trees
DEBUG*/*
BUILD*/*
RELEASE*/*
TEST*/*

# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# vim 
~*
*.swp
*.swo
